<div class="panel-header panel-header-sm">
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
  <div class="card-header">
      <form class="form-horizontal">
          <fieldset>
          
          <!-- Form Name -->
          <!--<legend>Pre-Inscripción | Doctorado en Derecho y Ciencias Políticas </legend>-->
          <h1 > Registro Estudiantes </h1>
          
          <br /> <br />
          
          
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textNombres">Nombres: </label>  
            <div class="col-md-4">
            <input id="textNombres" name="textNombres" type="text" placeholder="Nombres" class="form-control input-md" required="">
            </div>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="txtApellidos">Apellidos: </label>  
            <div class="col-md-4">
            <input id="txtApellidos" name="txtApellidos" type="text" placeholder="Apellidos" class="form-control input-md" required="">
            </div>
          </div>
          
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="txtDNI">Ci: </label>  
            <div class="col-md-4">
            <input id="txtDNI" name="txtDNI" type="text" placeholder="DNI" class="form-control input-md" required="">
            </div>
          </div>
          
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="selectEstadoCivil">Genero: </label>
            <div class="col-md-4">
              <select id="selectEstadoCivil" name="selectEstadoCivil" class="form-control">
                <option value="s">Masculino</option>
                <option value="c">Femenino</option>
                <option value="d">Otros</option>
                
              </select>
            </div>
          </div>
          
          <!-- Text input-->
          <div>
              <label class="col-md-4 control-label" for="selectEstadoCivil">Fecha de nacimiento: </label>
              <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <a class="btnfecha btn btn-outline-secondary calendar" (click)="d.toggle()" >
                            <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="txtnumero">Numero de Contacto: </label>  
            <div class="col-md-4">
            <input id="txtnumero" name="txtnumero" type="text" placeholder="Numero de Contacto" class="form-control input-md" required="">
            </div>
          </div>
          
          <div>
              <label  for="lbfoto">Foto: </label>
              <input id="lbfoto" name="lbfoto" type="file"  class="form-control input-md" required="">
              
          </div>
             
                     
          <!-- Text input-->
          <div >
            <label class="col-md-4 control-label" for="txtEmail">Tutores: </label>  
            <div class="col-md-4">

                <p>
                    <a class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                      Registro de los tutores:
                </a>
                  </p>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div >
                      <div class="card-body">
                          
                       <form >
                          <div class="form-group">
                              <label  for="textNombres">Nombres: </label>  
                              
                              <input id="textNombres" name="textNombres" type="text" placeholder="Ingrese Nombres" class="form-control input-md" required="">
                              
                            </div>
                            <div class="form-group">
                                <label  for="textapellidos">Apellidos: </label>  
                                
                                <input id="textapellidos" name="textapellidos" type="text" placeholder="Ingrese Apellidos" class="form-control input-md" required="">
                               
                            </div>
                            <div class="form-group">
                                <label for="selecGenero">Genero: </label>
                                
                                  <select id="selectEstadoCivil" name="selecGenero" class="form-control">
                                    <option value="s">Masculino</option>
                                    <option value="c">Femenino</option>
                                    <option value="d">Otros</option>
                                    
                                  </select>
                                
                            </div>

                            <div class="form-group">
                                <label  for="textci">CI: </label>  
                                
                                <input id="textci" name="textci" type="text" placeholder="Ingrese Ci" class="form-control input-md" required="">
                               
                            </div>

                            <div class="form-group">
                                <label  for="textcontact">Numero de Contacto: </label>  
                                
                                <input id="textcontact" name="textcontact" type="text" placeholder="Ingrese Numero de contacto" class="form-control input-md" required="">
                               
                            </div>

                            
                                
                                  

                            <div >
                                <label  for="textcontact">Foto: </label>
                                <input class="form-control input-md" id="txtfotopadre" name="txtfotopadre" type="file"  required="">
                                      
                            
                            </div>
                            

                            <div>
                              <button>Registrar tutor</button>

                            </div>
                            <div>
                                <button>Limpiar</button>
  
                              </div>

                       </form>
                     

                      </div>
                    </div>
                  </div>


             </div>
           </div><!--fin del toggle -->

          <div>
              <div class="input-group-append">
                  <a class="btnfecha btn btn-outline-secondary calendar"  >
                      <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                      Registrar Estudiante
                  </a>
                  </div>
     
          </div>
          
        
          
          
          </fieldset>
          </form>
    </div>
  
  </div><!-- div card-->
  </div><!-- div col-->
  </div><!-- div row-->
    </div><!-- div content-->

