<div class="panel-header panel-header-sm">
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
  <div class="card-header">
  <form class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <!--<legend>Pre-Inscripción | Doctorado en Derecho y Ciencias Políticas </legend>-->
  <h1 > Universidad Nacional de Piura <br /> Escuela de Posgrado </h1>
  <h3 > Sección de Posgrado en Derecho <br /> Programa de Doctorado en Derecho y Ciencias Políticas</h3>
  <br /> <br />
  
  
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textNombres">Nombre del aula: </label>  
    <div class="col-md-4">
    <input id="textNombres" name="textNombres" type="text" placeholder="Nombres" class="form-control input-md" required="">
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="txtApellidos">Cursos asignados: </label>  
    <div class="col-md-4">
    <input id="txtApellidos" name="txtApellidos" type="text" placeholder="Apellidos" class="form-control input-md" required="">
    </div>
  </div>
  
  
  
  
  
  
  </fieldset>
  </form>
    </div>
  
  </div><!-- div card-->
  </div><!-- div col-->
  </div><!-- div row-->
    </div><!-- div content-->

