
<div class="logo">
    <img src="../../../assets/img/banners/logoColegio.png"/><br>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        
        <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item textMenu">
            
            
                    <a *ngIf="menuItem.title != 'Administracion'" [routerLink]="[menuItem.path]">
                        <i class="now-ui-icons {{menuItem.icon}}"></i>
                        <p style="font-size:1.3em" >{{menuItem.title}}</p> 
                         
                    </a>   
                    <a class="reg" *ngIf="menuItem.title == 'Administracion'"  (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                            <i class="now-ui-icons {{menuItem.icon}}"></i>
                            <p style="font-size:1.3em">{{menuItem.title}}</p> 
                            <div class="menuchild" id="collapseExample" [ngbCollapse]="isCollapsed">
                                    
                                        <li  *ngFor="let menuItemchild of menuItemsChilds" class="{{menuItemchild.class}} nav-item">
                                                <a [routerLink]="[menuItemchild.path]">
                                                    <i class="now-ui-icons {{menuItemchild.icon}}"></i>
                                                    <p >{{menuItemchild.title}}</p> 
                                                         
                                                </a>   
                                        </li>
                                    
                                  </div>
                             
                        </a>   
                       
            
            
           

            <!--<div >
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel title="Simple">
                              <ng-template ngbPanelContent>
                               <a routerLink="[menuItem.path]"> <p>{{menuItem.title}}</p> </a>
                              </ng-template>
                            </ngb-panel>
                    </ngb-accordion>   
            </div>       -->                
        </li>
    </ul>
</div>
