
<div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/angular2-logo-white.png"/>
      </div>
    </a>
    <h3 class="simple-text logo-normal">
        Colegio
    </h3>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            
            
                    <a *ngIf="menuItem.title!= 'Registro'" [routerLink]="[menuItem.path]">
                        <i class="now-ui-icons {{menuItem.icon}}"></i>
                        <p >{{menuItem.title}}</p> 
                         
                    </a>   
                    <a *ngIf="menuItem.title== 'Registro'"  (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                            <i class="now-ui-icons {{menuItem.icon}}"></i>
                            <p >{{menuItem.title}}</p> 
                            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                    <div class="card">
                                      <div class="card-body">
                                        <li  *ngFor="let menuItemchild of menuItemsChilds" class="{{menuItemchild.class}} nav-item">
                                                <a [routerLink]="[menuItemchild.path]">
                                                    <i class="now-ui-icons {{menuItemchild.icon}}"></i>
                                                    <p >{{menuItemchild.title}}</p> 
                                                         
                                                </a>   
                                        </li>
                                      </div>
                                    </div>
                                  </div>
                             
                        </a>   
                       
            
            
           

            <!--<div >
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel title="Simple">
                              <ng-template ngbPanelContent>
                               <a routerLink="[menuItem.path]"> <p>{{menuItem.title}}</p> </a>
                              </ng-template>
                            </ngb-panel>
                    </ngb-accordion>   
            </div>       -->                
        </li>
    </ul>
</div>
