/*.container{
    background: black;
    background-image: url("../../../assets/img/banners/logoColegio.png");
    height: max-content;
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .form-signin
  {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
  }
  .form-signin .form-signin-heading, .form-signin .checkbox
  {
      margin-bottom: 10px;
  }
  .form-signin .checkbox
  {
      font-weight: normal;
  }
  .form-signin .form-control
  {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .form-signin .form-control:focus
  {
      z-index: 2;
  }
  .form-signin input[type="text"]
  {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .form-signin input[type="password"]
  {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .account-wall
  {
      margin-top: 20px;
      padding: 40px 0px 20px 0px;
      background-color: #f7f7f7;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .login-title
  {
      color: #555;
      font-size: 18px;
      font-weight: 400;
      display: block;
  }
  .profile-img
  {
      width: 96px;
      height: 96px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }
  .need-help
  {
      margin-top: 10px;
  }
  .new-account
  {
      display: block;
      margin-top: 10px;
  }*/
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.form-control{
    border-color: rgb(57, 95, 219);    
}
.login-block{
    background: -webkit-linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));  
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));
    width: 100%;
    height: 0%;
    padding: 50px 0;
}
.banner-sec{background: url("../../../assets/img/banners/col1.jpg")  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{
    background: black;
    border-radius: 10px; 
    color: white;
}

.form-check{
    text-align: center;
}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:rgb(57, 95, 219);}
.login-sec .copy-text a{color:rgb(0, 0, 0);}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: rgb(255, 255, 255);}
.login-sec h2:after{content:" "; width:100px; height:5px; background:rgb(57, 95, 219); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: rgb(57, 95, 219); color:rgb(255, 255, 255); font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:rgb(255, 255, 255); display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}