<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
<div class="card-header">

  <form >
    <fieldset>    
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" >Nombre de la materia: </label>  
      <div class="col-md-4">
      <input  name="nombre" [(ngModel)]="materia.nombre" type="text" placeholder="Nombres" class="form-control input-md" required="">
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" >Descripcion </label>  
      <div class="col-md-4">
      <input [(ngModel)]="materia.descripcion" name="Descripcion" type="text" placeholder="Descripcion" class="form-control input-md" required="">
      </div>
    </div>
    <div class="alert alert-danger"*ngIf="isError" >
      <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Error no se pudo guardar el registro
  </div>
  <div class="alert alert-success"*ngIf="isExito" >
    <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>registro guardado con exito
</div>
  <div class="alert alert-danger" *ngIf="isRequired" >
      <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Ingrese datos correctos
  </div>
      <button (click)="registrarMateria()"  class="btn btn-default">Registrar</button>
    </fieldset>
    </form>
</div>

  </div><!-- div card-->
  </div><!-- div col-->
  </div><!-- div row-->
    </div><!-- div content-->