



<!--INICIO de la cuadro general-->
<div class="panel-header panel-header-sm">
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
  <div class="card-header">


    <!--Inicio del modal-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Registro de Docentes</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <!--Inicio del formulario de docente-->
        <form class="form-horizontal">
            <fieldset>
            
            <!-- Form Name -->
            <!--<legend>Pre-Inscripción | Doctorado en Derecho y Ciencias Políticas </legend>-->
            <h1 > Registro Docentes </h1>
            <br>         
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textNombres">Nombres: </label>  
              <div class="col-md-4">
              <input id="textNombres" name="textNombres" type="text" placeholder="Nombres" class="form-control input-md" required="">
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="txtApellidos">Apellidos: </label>  
              <div class="col-md-4">
              <input id="txtApellidos" name="txtApellidos" type="text" placeholder="Apellidos" class="form-control input-md" required="">
              </div>
            </div>
            
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="txtDNI">Ci: </label>  
              <div class="col-md-4">
              <input id="txtDNI" name="txtDNI" type="text" placeholder="DNI" class="form-control input-md" required="">
              </div>
            </div>
            
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="selectEstadoCivil">Genero: </label>
              <div class="col-md-4">
                <select id="selectEstadoCivil" name="selectEstadoCivil" class="form-control">
                  <option value="s">Masculino</option>
                  <option value="c">Femenino</option>
                  <option value="d">Otros</option>
                  
                </select>
              </div>
            </div>
            
            <!-- Text input-->
            <div>
                <label class="col-md-4 control-label" for="selectEstadoCivil">Fecha de nacimiento: </label>
                <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <a class="btnfecha btn btn-outline-secondary calendar" (click)="d.toggle()" >
                              <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
            </div>
            
            <!-- Text input-->
            
  
            
            </fieldset>
            </form>
            <!--fin del formulario de docente-->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <!--Fin del modal-->
  <table class="table">
      <thead class=" text-primary">
        <th>
          Nombres
        </th>
        <th>
          Apellidos
        </th>
        <th>
          Ci
        </th>
        <th class="text-right">
          Numeros de contacto
        </th>
        <th class="text-right">
          Direccion
        </th>
        <th class="text-right">
            Materias en curso
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            Dakota Rice
          </td>
          <td>
            Niger
          </td>
          <td>
            Oud-Turnhout
          </td>
          <td class="text-right">
            $36,738
          </td>
        </tr>
        
        
      </tbody>
    </table>



        </div>
  
  </div><!-- div card-->
  </div><!-- div col-->
  </div><!-- div row-->
    </div><!-- div content-->
    <!--Fin del cuadro general del formulario de Docentes-->

