



<!--INICIO de la cuadro general-->
<div class="panel-header panel-header-sm">
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
  <div class="card-header">


    <!--Inicio del modal-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Registro de Docentes</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
         <!--NUEVO FORMULARIO PARA UNIR-->
      <form class="form-horizontal">
          <fieldset>
          
          <!-- Form Name -->
          <!--<legend>Pre-Inscripción | Doctorado en Derecho y Ciencias Políticas </legend>-->
          <h1 > Registro Docentes </h1>
          
          <br /> <br />
          
          
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textNombres">Nombres: </label>  
            <div class="col-md-4">
            <input [(ngModel)]="docente.nombre" name="nombre" type="text" placeholder="Nombres" class="form-control input-md" required="">
            </div>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="txtApellidos">Apellidos: </label>  
            <div class="col-md-4">
            <input [(ngModel)]="docente.apellidos" name="apellidos" type="text" placeholder="Apellidos" class="form-control input-md" required="">
            </div>
          </div>
          
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="txtDNI">Ci: </label>  
            <div class="col-md-4">
            <input [(ngModel)]="docente.ci" name="ci" type="text" placeholder="DNI" class="form-control input-md" required="">
            </div>
          </div>
          
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="selectEstadoCivil">Genero: </label>
            <div class="col-md-4">
              <select [(ngModel)]="docente.generos" name="generos" class="form-control">
                <option value="Maculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otros">Otros</option>
                
              </select>
            </div>
          </div>
          
          <!-- Text input-->
          <div>
              <label class="col-md-4 control-label" for="selectEstadoCivil">Fecha de nacimiento: </label>
              <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                               #nacimiento  name="fechadenacimiento" [(ngModel)]="docente.fechadenacimiento" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <a class="btnfecha btn btn-outline-secondary calendar" (click)="d.toggle()" >
                            <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
          </div>
          
          <div >
            <label class="col-md-4 control-label" for="lbfoto">Foto: </label>  
            <div class="col-md-4">
              <input  id="lbfoto" accept="image/*" (change)="changeListener($event)" name="lbfoto" type="file"  class="form-control input-md" required="">
            </div>
          </div>
          <!-- Text input-->
          <div class="alert alert-danger"*ngIf="isError" >
            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Error no se pudo guardar el registro
        </div>
        <div class="alert alert-success"*ngIf="isExito" >
          <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>registro guardado con exito
      </div>
        <div class="alert alert-danger" *ngIf="isRequired" >
            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Ingrese datos correctos
        </div>
         
          
        
          </fieldset>
          </form>
          <!--FINAL DE FORMULARIO NUEVO-->
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button> RegistrarDocente(nacimiento.value) -->
      <div>
          <div class="input-group-append"(click)="modal.close('Save click')" >
              <a class="btnfecha btn btn-outline-secondary calendar"  >
                  <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                  Registrar Docente
              </a>
              </div>
 
      </div>
    

    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <!--Fin del modal-->
  <div class="table-responsive">
  <table class="table">
      <thead class=" text-primary">
        <th>
          Nombres
        </th>
        <th>
          Apellidos
        </th>
        <th>
          Ci
        </th>
        <th >
          Numeros de contacto
        </th>
        <th >
          Direccion
        </th>
        <th >
            Materias en curso
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            Dakota Rice
          </td>
          <td>
            Niger
          </td>
          <td>
            Oud-Turnhout
          </td>
          <td class="text-right">
            $36,738
          </td>
        </tr>
        
        
      </tbody>
    </table>
  </div>



        </div>
  
  </div><!-- div card-->
  </div><!-- div col-->
  </div><!-- div row-->
    </div><!-- div content-->
    <!--Fin del cuadro general del formulario de Docentes-->

