.Servicio{
    text-align: center;
    background-color:rgba(95, 189, 243, 0.527);
    width: 100%;
}
  .servicio .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .servicio h2 {
    font-weight: normal;
  }
  .servicio .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }