<nav class="navbar navbar-expand-md navbar-dark">
    <img class="profile-img" src="../../assets/img/logoColegio.png">
    <span class="navbar-toggler-icon" (click)="isNavbarCollapsed = !isNavbarCollapsed"></span>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li nav-item active routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" nav-item dropdown ngbDropdown>
                <a class="nav-link navbar-brand" [routerLink]="[menuItem.path]">
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</nav>