.profile-img{
	width: 150px;
	height: 50px;
}
.profile-img{
	width: 150px;
	height: 50px;
}
.navbar{
	background: rgba(0, 0, 0, 0.979);
	margin: 0 0;
	z-index: 1000;
	text-align: right;
}
.navbar-nav {
	padding-top: .425rem;
	padding-left: 0.75rem;
}
.navbar-nav .nav-item {
	float: left;
}
.navbar-brand {
	float: left;
}
.navbar-brand,
.navbar-nav .nav-item {
	display: block;
}
.navbar-nav .nav-item + .nav-item {
	margin-left: 0;
}
.navbar-toggler-icon{
	display: none;
}

@media (max-width: 62em) {
	.profile-img{
		width: 150px;
		height: 50px;
	}
	.navbar{
		background: rgba(0, 0, 0, 0.788);
		margin: 0 0;
	}
	.navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
	.navbar-toggler-icon{
		display: block;
	}	
}