<div class="panel-header panel-header-sm">
  </div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
  <div class="card-header">


      <h2>Stylish Search Box</h2>
      <div id="custom-search-input">
                       <div >
                         <div class="txtdiv">
                           <input type="text" class="form-control" placeholder="Search" />
                           <a href="#">
                              <i class="now-ui-icons ui-1_zoom-bold"></i>
                                                               
                          </a>
                          </div>
                           <!-- <span class="input-group-btn">
                               <button class="btn btn-danger" type="button">
                                   <span class="now-ui-icons ui-1_zoom-bold"></span>
                               </button>
                           </span> -->
                           
                       </div>
                   </div>

      <ngb-tabset>
          <ngb-tab title="ESTUDIANTES">
            <ng-template ngbTabContent>
                <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Country
                      </th>
                      <th>
                        City
                      </th>
                      <th class="text-right">
                        Salary
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>DOCENTES</b></ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Country
                      </th>
                      <th>
                        City
                      </th>
                      <th class="text-right">
                        Salary
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>



      
    </div>
  
  </div><!-- div card-->
  </div><!-- div col-->
  </div><!-- div row-->
    </div><!-- div content-->