<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-5">
            <h1 class="text-center login-title">Iniciar Sesion</h1>
            <div class="account-wall">
                <img class="profile-img" src="../../assets/imagenes/loging.png"
                    alt="">
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Usuario" required autofocus>
                <input type="password" class="form-control" placeholder="Contracena" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Entrar</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Recordarme
                </label>
                <a href="#" class="pull-right need-help">Necesita Ayuda? </a><span class="clearfix"></span>
                </form>
            </div>
            <a routerLink="/registrologin" class="text-center new-account">Crear nueva cuenta... </a>
        </div>
        <div class="col-3"></div>
    </div>
</div>